<<<<<<< HEAD
.Navbar{ background-color: transparent; }

.scroll { background-color: #c4741f; transition: all 1s ease-in-out; }
=======
.navbar{ background-color: transparent; }

.scroll{ background-color: #c4741f; transition: all 1s ease-in-out; }
>>>>>>> 613e6b4ee09c7412d37ecd8938f7aae41fc04252
